@import 'node_modules/ember-frost-core/addon/styles/frost-theme';
@import 'node_modules/ember-frost-core/addon/styles/frost-app';
.frost-sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content:flex-start;
  min-height: 50px;

  .frost-button.small .frost-icon {
    width: 15px;
    height: 15px;
    color: $frost-color-grey-5;
  }

  .title {
    margin: 0 5px;
    padding: 0 10px;
    font-size: $frost-font-s;
    color: $frost-color-grey-4;
    height: 100%;
    white-space: nowrap;
  }
  .button-hide {
    display: none;
  }

  .remove-button {
    fill: $frost-color-lgrey-1;
    stroke: $frost-color-lgrey-1;
  }
}

.frost-sort-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid $frost-color-lgrey-1;
  padding: 0 5px 0 15px;
  flex-shrink: 0;

  > div {
    display: inline-flex;
    flex-shrink: 0;
  }

  .frost-select {
    width: 30px;
  }

  .desc {
    transform: rotate(180deg);
  }
  .animate {
    transition: transform 0.2s ease;
  }
}

.frost-sort-container {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: center;
}
