@import 'node_modules/ember-frost-core/addon/styles/frost-theme';

.dummy-body {
  margin-left: 20px;
}

.dummy-notification-container {
  position: fixed;
  top: 60px;
  right: 10px;
  width: 80%;
  max-width: 400px;
  margin: auto;
  z-index: 999;
}

.snippets {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.result {
  margin: 15px 0;

  &-title {
    padding-right: 15px;
    color: $frost-color-grey-2;
    font-size: $frost-font-s;
  }
}
