<div class="title">Sort by: </div>
{{#each filterArray as |object|}}
  {{frost-sort-item sortId=object.id
    availableOptions=unselected
    allOptions=sortableProperties
    sort-change=(action 'sortArrayChange')
    initVal=object.value
    initDirection=object.direction}}
{{/each}}

{{#if isRemoveVisible}}
  <div>
    {{#frost-button
      class='remove-button'
      on-click=(action "removeFilter")
      priority="none"
      size='none'}}
      {{frost-icon icon='frost/close'}}
    {{/frost-button}}
  </div>
{{/if}}

<div class="{{hideClass}}">
  {{frost-button
  icon='frost/round-add'
  on-click=(action "addFilter")
  size='small'
  priority='tertiary' text='Add'}}
</div>


