<div class="title">Sort by: </div>
{{#each filterArray as |object index|}}
  {{frost-sort-item sortId=object.id
    availableOptions=unselected
    allOptions=sortableProperties
    hook=(concat hook '-filter-' index)
    sortChange=(action 'sortArrayChange')
    initVal=object.value
    initDirection=object.direction}}
{{/each}}

{{#if isRemoveVisible}}
  {{#frost-button
    class='remove-button'
    hook=(concat hook '-remove-filter')
    onClick=(action "removeFilter")
    priority=''
    size='small'}}
    {{frost-icon icon='close-circle'}}
  {{/frost-button}}
{{/if}}

<div class="{{hideClass}}">
  {{frost-button
  hook=(concat hook '-add-filter')
  icon='round-add'
  onClick=(action "addFilter")
  size='small'
  priority='tertiary'
  text='Add'}}
</div>
