<div class="title">Sort by: </div>
{{#each filterArray as |object index|}}
    {{frost-sort-item sortId=object.id
      availableOptions=unselected
      allOptions=properties
      hook=(concat hook '-' index)
      initVal=object.value
      initDirection=object.direction
      hideRemoveButton=hideRemoveButton
      sortChange=(action 'sortArrayChange')
      remove=(action 'removeFilter')}}
{{/each}}
{{#unless hideAddButton}}
  {{frost-button
  hook=(concat hook '-add')
  pack='frost-sort'
  icon='add'
  size='small'
  priority='tertiary'
  text='Add'
  onClick=(action "addFilter")}}
{{/unless}}
