<div class="title">Sort by: </div>
{{#each filterArray as |object index|}}
  <div class="frost-sort-item">
  {{frost-sort-item sortId=object.id
    availableOptions=unselected
    allOptions=properties
    hook=(concat hook '-' index)
    sortChange=(action 'sortArrayChange')
    initVal=object.value
    initDirection=object.direction}}
  {{#frost-button
    class='remove-button'
    hook=(concat hook '-remove' '-' index)
    onClick=(action "removeFilter" object.id)
    priority=''
    size='small'}}
    {{frost-icon icon='close-circle'}}
  {{/frost-button}}
  </div>
{{/each}}

<div class="{{hideClass}}">
  {{frost-button
  hook=(concat hook '-add')
  icon='round-add'
  onClick=(action "addFilter")
  size='small'
  priority='tertiary'
  text='Add'}}
</div>
