{{frost-select id=sortId data=sortItemList on-change=(action 'select') selectedValue=selectedItem}}

{{#frost-button on-click=(action 'rotate' sortId) class='icon small tertiary' }}
	<div class='svg-icon animate {{if (eq direction 'desc') 'desc'}}'>
		{{frost-icon icon='frost/sort-direction'}}
	</div>
{{/frost-button}}
