<div class="title">Frost sort demo</div>

 <div class="section">
    <div class="example">
      <div class="demo">
        {{frost-sort
          properties=tableSortList
          onChange=(action 'sortRecords')
<<<<<<< Updated upstream
          sortOrder=sortOrder
=======
          sortParams=querySortOrder
>>>>>>> Stashed changes
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-sort
properties=tableSortList
onChange=(action 'sortRecords')
<<<<<<< Updated upstream
sortOrder=sortOrder}}
=======
sortParams=querySortOrder}}
>>>>>>> Stashed changes
```"
    }}
      </div>
    </div>
  </div>
