<div class="title">Frost sort demo</div>

 <div class="section">
    <div class="example">
      <div class="demo">
        {{frost-sort
          hook='my-sort'
          sortableProperties=tableSortList
          onChange=(action 'sortRecords')
          sortParams=sortOrder
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-sort
hook='my-sort'
sortableProperties=tableSortList
onChange=(action 'sortRecords')
sortParams=sortOrder}}
```"
    }}
      </div>
    </div>
  </div>
