<div class="title">Frost sort demo</div>

<div class="example">
  <div class="title"></div>
  <div class="snippet">
    {{format-markdown "```handlebars
{{frost-sort
sortableProperties=tableSortList
on-change=(action 'sortRecords')
sortParams=sortOrder}}
```"
    }}
  </div>
  <div class="demo">
    {{frost-sort
      sortableProperties=tableSortList
      on-change=(action 'sortRecords')
      sortParams=sortOrder}}
  </div>
</div>
