<div class="title">Frost sort demo</div>

 <div class="section">
    <div class="example">
      <div class="demo">
        {{! BEGIN-SNIPPET sort-template }}
        {{frost-sort
          properties=sortProperties
          onChange=(action 'sortRecords')
          sortOrder=querySortOrder
        }}
        {{! END-SNIPPET }}
      </div>
      <br>
      <div class='snippets'>
        <div>
          Template
          {{code-snippet name="sort-template.hbs"}}
        </div>
        <div>
          Example controller action
          {{code-snippet name="sort-action.js"}}
        </div>
      </div>
    </div>
  </div>
